* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.6;
  color: #4BA7A8;
  font-family: Jost;
  font-size: 18;
  /* background-color: #395592; */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  opacity: 0.9;
  color: white;
  background-color: #24a19c;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
  transition: opacity 200ms ease-in;
  
}

.navbar a:hover {
  opacity: 0.8;
}


.landing {
  color: rgb(255, 255, 255);
  height: 100vh;
  width: 100%;
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: url(./components//img/back.jpg) no-repeat center center/cover;
}

.landing-inner {
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  
}
.landing-inner1 {
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  background: url(./components//img/back.jpg) no-repeat center center/cover;

  
}
.landing-inner2 {
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  background: url(./components//img/back.jpg) no-repeat center center/cover;
  
  
}



.dark-overlay {
  
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
  
}

section#home {
  background: url('https://source.unsplash.com/bZZp1PmHI0E/1600x900') no-repeat center center/cover;;
}

section#about {
  background: url('https://source.unsplash.com/VRxo0yY-gyM/1600x900') no-repeat center center/cover;;
}

section#service {
  background: url('https://source.unsplash.com/K2tdx2mFDHc/1600x900') no-repeat center center/cover;;
}

section#contact {
  background: url('https://source.unsplash.com/2aAHlfDOhJM/1600x900') no-repeat center center/cover;;
}


